
((=- Default to the notebook output style -=))
((*- if not cell_style is defined -*))
    ((* set cell_style = 'style_jupyter.tex.j2' *))
((*- endif -*))

((=- Inherit from the specified cell style. -=))
((* extends cell_style *))


%===============================================================================
% Latex Article
%===============================================================================

((*- block docclass -*))
\documentclass[xelatex,ja=standard]{bxjsarticle}
((*- endblock docclass -*))

((*- block packages -*))
((( super() )))
% For greek in a code block
\usepackage[Greek]{ucharclasses}
\newfontfamily{\mygreek}{DejaVuSansMono}
\setTransitionsForGreek{\mygreek}{}
((*- endblock packages -*))
